.container {
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  text-align: center;
  color: red;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 18px;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 1280px;
  padding: 20px 20px;
  margin-left: 300px;
  margin-right: 300px;
  text-align: center;
  text-decoration: none;
}

.navbar-item {
  display: inline-block;
  text-align: center;
  justify-content: space-around;
  margin-right: 22px;
  font-size: 18px;
  line-height: 18px;
}

.navbar-link {
  color: red;
}

.iphoneImage {
  max-width: 100%;
  height: auto;
}

.title {
  margin-top: 48px;
  margin-bottom: 48px;
  height: auto;
  text-align: center;
  color: black;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  line-height: 27px;
}

.text {
  margin: 20px 50px;
  height: auto;
  text-align: center;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 26px;
}

.btn {
  margin: 60px 40%;
  text-align: center;
  border: 0;
}

.btn-red {
  width: 191px;
  height: 51px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: red;
  border: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
}

.footer {
  margin-top: 40px;
  margin-right: 60px;
  text-align: right;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 19, 5px;
}
